<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <!-- dodatkowe zależności: na ten przykład routingi, choć można też np. animacje i inne-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  </head>

  <body ng-app> <!-- zwróćcie uwagę na atrybut -->

    <!-- Tutaj mamy bindowanie danych input->model -->
    What is your name? <input ng-model="name" placeholder='type something'/><br>

    <!-- Tutaj mamy bindowanie model->szablon --> 
    Hey, {{ name || 'Joe' }}!

    <!--
    
    W szablonach Angulara nie można stosować operatorów warunkowych ani potrójnych,
    ale na szczęście widać, że z brakiem operatora potrójnego można sobie poradzić
    
    -->

    <script type='text/javascript' language='JavaScript'>
          //tutaj w przyszłości znajdzie się kod aplikacji
    </script>
  </body>
</html>
