div.viewport {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: #000000;
}

div.viewport div {
  width: 100%;
  height: 100%;
  position: relative;

  color: white;
  font-weight: bold;
  font-size: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

div.trinity {
  background-image: url(../common/Trinity.jpg);
}

div.morpheus {
  background-image: url(../common/Morpheus.jpg);
}

div.neo {
  background-image: url(../common/Neo.jpg);
}