<fieldset><legend>{{ngWatch.name}}</legend>
  <p>Counter: {{ngWatch.seconds}} seconds.</p>
  <button ng-click="startTicking()" ng-hide="isOn">Start</button>
  <button ng-click="stopTicking()" ng-show="isOn">Stop</button>
</fieldset>