<h1>Dodaj grupę</h1>
<p>Nazwa zespołu: <input ng-model="bandName"/></p>
<p ng-repeat="(filterKey, filterSet) in getOptions()">{{filterKey}}:
  <select ng-model="bandData[filterKey]">
    <option value="">[wybierz jedno]</option>
    <option ng-repeat="(filterOptionKey, filterOptionValue) in filterSet" value="{{filterOptionValue}}">{{filterOptionValue}}</option>
  </select>
</p>
<button ng-click="addBand()">Dodaj zespół do bazy</button>