<h1>Co chcesz zobaczyć?</h1>
<fieldset ng-repeat="(filterKey, filterSet) in getOptions()"><legend>{{filterKey}}</legend>
  <select size="7" ng-model="filters[filterKey]">
    <option value="">[wszystkie]</option>
    <option ng-repeat="(filterOptionKey, filterOptionValue) in filterSet" value="{{filterOptionValue}}">{{filterOptionValue}}</option>
  </select>
</fieldset>
<div style="clear: both; float: none;"></div>