filter-input, viewer, add {
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  width: 96%;
  padding: 2%;
  margin-bottom: 1%;
}

filter-input {
  border-color: silver;
  background-color: silver;
}

viewer {
  border-color: brown;
  background-color: brown;
}

add {
  border-color: green;
  background-color: green;
}

fieldset {
  display: block;
  width: 30%;
  float: left;
}

band {
  display: block;
  float: left;
  background: white;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

* {
  font-size: 11;
}

h1 {
  font-size: 16;
}

body {
  overflow-y: scroll;
}