<band ng-repeat="(bandName, bandDetails) in bands">
  <!-- for($kolekcja as $key => $value) -->
  <p>Grupa: {{bandName}}</p>
  <p ng-repeat="(property, value) in bandDetails">
    {{property}}: {{value}}
  </p>
</band>
<div style="clear: both; float: none;"></div>