<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app="kontekst">
    <div>
      <p>Bidirectional data binding - modele w angularze są prostymi obiektami JS (Plain Old Javascript Object, POJO). Angular okresowo sprawdza, czy dane w modelu bądź w widoku nie uległy zmianie, i w razie czego odpowiednio reaguje, aktualizując widok bądź model. Właśnie z powodu okresowego wykonywania tej czynności dla dużych kolekcji danych mogą występować problemy z wydajnością - tak czy siak, trzeba sprawdzić czy coś się nie zmieniło.</p>
      <p>Dane są bindowane w dwie strony, czyli zmiana w widoku zmienia model, a zmiana w modelu zmienia widok.</p>
      <p>Sprawdzanie czy coś się zmieniło nazywa się cyklem digest.</p>
    </div>

    <div ng-controller="controller"> <!-- popatrz na atrybut -->
      <div class="hey">
        <input ng-model="name" placeholder="type your name here" /><br />
        <input ng-model="name" placeholder="type your name here" /><br />
        <input ng-model="name" placeholder="type your name here" /><br />
        <input ng-model="name" placeholder="type your name here" /><br />
        Hey, {{name && name|| 'Nemo'}}!
      </div>
      <div>
        Do you like angular? <input type="checkbox" ng-model="like" /> <br />
        So, the same question one more time: <input type="checkbox" ng-model="like" /> <br />
        {{like && 'Yes, I like'|| 'No, I dont like' }}
      </div>
      <div>
        Your favourite colour is: <select ng-model="colour">
          <option value="">Awaiting decision</option>
          <option ng-repeat="colour in ['red', 'green', 'blue']" value="{{colour}}">{{colour}}</option>
        </select><br />
        {{ colour && 'So you choose ' + colour + '!' || 'Move your bloody ass and choose something!'}}
      </div>
      <div>
        Pick an odd number: <input ng-model="number" />
      </div>
    </div>



    <script type='text/javascript' language='JavaScript'>
          var kontekstApp = angular.module('kontekst', []);
                  function controller($scope) {
                    $scope.name = "Joe";
                    $scope.number = 2;
                    $scope.like = true;

                    /*
                     *  Tutaj przemycam sposób na sprawdzanie zmiany wartości wyrażenia w każdym cyklu digest.
                     *  $watch ma wiele róznych konfiguracji, można w pierwszym parametrze przekazać zmienną, można wyrażenie, można funkcję (i wtedy badany jest jej wynik).
                     *  Można też sprawdzać kolekcję obiektów poprzez $watchCollection itd itp.
                     *  Polecam dokumentację!
                     */

                    $scope.$watch('number % 2 == 1', function (newval, oldval) {
                      if (newval == true && $scope.number)
                        alert($scope.number + ' is not odd!');
                    });

                    $scope.$watch('like', function (newval, oldval) {
                      console.log(newval);
                    });
                  };

    </script>
  </body>
</html>
