div {
  float: none;
  margin: 20px;
  padding: 20px;
  border: 1px solid silver;
}

div.hey {
  background-image: url(../common/Hendrix.jpg);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}