<input ng-model="name" placeholder="type your name here" /><br />
<p>Trinity: I know why you're here, {{name}}. I know what you've been doing... why you hardly sleep, why you live alone, and why night after night, you sit by your computer. You're looking for him. I know because I was once looking for the same thing. And when he found me, he told me I wasn't really looking for him. I was looking for an answer. It's the question that drives us, {{name}}. It's the question that brought you here. You know the question, just as I did.</p>
<p>{{name}}: What is the Matrix?</p>
<p>Trinity: The answer is out there, {{name}}, and it's looking for you, and it will find you if you want it to.</p>