<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="przekazywanie_danych/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app='dyrektywy' ng-controller='neo_controller'>

  <neo-trinity ng-repeat="person in ['Neo', 'Andrzej', 'Łukasz', 'Konrad', 'Mariusz']" name="person"></neo-trinity>


  <script type='text/javascript' language='JavaScript'>
            var dyrektywyApp = angular.module('dyrektywy', [])

                    .controller('neo_controller', ['$scope', function ($scope) {

                      }])

                    .directive('neoTrinity', function () {
                      return {
                        templateUrl: 'przekazywanie_danych/neoTalk.html',
                        restrict: 'E',
                        scope: {
                          name: '=' //można pominąć nazwę parametru, jeśli jest taka sama 'po obu stronach'.
                                  //tutaj również istnieje wiele możliwości bindowania, np. można bindować w dwie strony,
                                  //można bindować w jedną stronę, można wykonać kopię podczas renderowania...
                        }
                      };
                    });
  </script>
</body>
</html>
