neo-trinity {
  display: block;
  margin: 20px;
  padding: 20px;
  float: none;
  border: 1px solid silver;

  background-image: url(../common/Trinity.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}

neo-trinity *{
  color: white;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}

input {
  color: black;
}