<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="wrapped/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app='trans' ng-controller="transController">
    <p>To do Ciebie, <input ng-model="name" /></p> <!-- jaki scope? -->

  <pretty-table>
    <p>Posłuchaj, {{name}}!</p> <!-- jaki scope? -->
    <ul>
      <li>Nie będziesz miał bogów cudzych przede Mną</li>
      <li>Nie będziesz brał imienia Pana, Boga swego nadaremno</li>
      <li>Pamiętaj, aby dzień święty święcić</li>
    </ul>
  </pretty-table>

  <pretty-table>
    <p>Słuchaj uważnie, {{name}}!</p> <!-- jaki scope? -->
    <ul>
      <li>Nie zabijaj</li>
      <li>Nie cudzołóż</li>
      <li>Nie kradnij</li>
      <li>Nie mów fałszywego świadectwa przeciw bliźniemu swemu</li>
      <li>Nie pożądaj żony bliźniego swego</li>
      <li>Ani żadnej rzeczy, która jego jest</li>
    </ul>
  </pretty-table>

  <script type='text/javascript' language='JavaScript'>
        var transApp = angular.module('trans', [])

                .controller('transController', function ($scope) {
                  $scope.name = "Joe";
                })

                .directive('prettyTable', function () {
                  return {
                    templateUrl: 'wrapped/prettyTable.html',
                    restrict: 'AEC',
                    transclude: true, // !! to umożliwia owinięcie czegoś w tę dyrektywę
                    scope: {},
                    controller: function ($scope) {
                    }
                  };
                });
  </script>
</body>
</html>
