pretty-table, mainWrapper, closeButton, internalWrapper {
  display: block;
}

mainWrapper {
  position: relative;;
  padding: 10%;
  padding-top: 20%;
  width: 100%;
  border: 1px solid brown;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: brown;
}

internalWrapper {
  position: relative;
  border: 1px solid brown;
  border-radius: 20px;
  background-color: white;
}

topButton {
  border: 1px solid brown;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
}

pretty-table {
  width: 30%;
  margin: 5%;
  float: left;
  position: relative;

  font-weight: bold;
  font-size: 14;
}

li {
  margin-bottom: 15px;
}