<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="events/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app="events" ng-controller="eventsController">

    <h1>Click the trigger!</h1>
    <br>
  <bomb></bomb>
  <bomb></bomb>
  <bomb></bomb>
  <bomb></bomb>

  <bomb></bomb>
  <bomb></bomb>
  <bomb></bomb>
  <bomb></bomb>
  
  <!- Ahmed, the dead terrorist, byłby pewnie zadowolony -->

  <bang-all ng-click="explodeAll()">Explode everything</bang-all>

  <script type='text/javascript' language='JavaScript'>
            var eventsApp = angular.module('events', [])

                    .controller('eventsController', function ($scope, $rootScope) {
                      $scope.explodeAll = function () {
                        alert('Exploding everything');
                        $rootScope.$broadcast('explode');
                        
                        /*
                         * Zwracamy uwagę na $rootScope
                         */
                      }
                    })

                    .directive('dynamite', function () {
                      return {
                        templateUrl: 'events/dynamite.html',
                        restrict: 'AEC',
                        scope: {},
                        controller: function ($scope) {
                          $scope.state = 'Armed';

                          /*
                           * Piszemy metodę obsługi zdarzenia. Nie pokazuję tutaj przekazywania parametrów,
                           * ale w końcu to ma być tylko szybkie wprowadzenie, a dokumentacja jest bogata.
                           */
                          $scope.$on('explode', function () {
                            if ($scope.state == 'Armed') {
                              alert('BANG!!!');
                              $scope.state = 'Exploded';
                              
                              /*
                               * Wyślijmy rodzicom informację, że detonacja się powiodła
                               */
                              
                              $scope.$emit('explosionOK');
                            }
                          });

                        }
                      };
                    })

                    .directive('bomb', function () {
                      return {
                        templateUrl: 'events/bomb.html',
                        restrict: 'AEC',
                        scope: {},
                        controller: function ($scope) {
                          $scope.state = "Armed";

                          $scope.explode = function () {
                            if ($scope.state == 'Armed') {
                              alert('Attention!');
                              /*
                               * Wyślijmy dzieciom sygnał detonacji
                               */
                              $scope.$broadcast('explode');
                            }
                          }
                          
                          /*
                           * Po otrzymaniu potwierdzenia zablokujmy detonator.
                           */

                          $scope.$on('explosionOK', function () {
                            $scope.state = "Used";
                          });

                        }
                      };
                    });

  </script>
</body>
</html>
