.niceframe {
  display: inline-block;
  margin: 40px 40px 40px 40px;
}

bomb, trigger, dynamite {
  display: inline-block;
  border: 1px solid red;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

trigger {
  background-image: url(../common/detonator.png);
  width: 100px;
  height: 100px;
  border: none;
}

dynamite {
  background-image: url(../common/dynamite.jpg);
  color: red;
  text-align: right;
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 10px;
}

bomb {
  margin: 10px 10px 10px 10px;
}

bang-all {
  border: 1px solid red;
  border-radius: 10px;
  display: inline-block;
  color: white;
  font-size: 60;
  background-color: red;
  padding: 10px;
}