<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="kontroler_kontekst/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app="kontekst">

    <div ng-controller="firstOne" class="hey"> <!-- popatrz na atrybut -->
      <input ng-model="name" placeholder="type your name here" /><br />
      Hey, {{name && name|| 'Joe'}}!
    </div>

    <div ng-controller="secondOne" class="matrix">
      <input ng-model="name" placeholder="type your name here" /><br />
      <p>Trinity: I know why you're here, {{getName()}}. I know what you've been doing... why you hardly sleep, why you live alone, and why night after night, you sit by your computer. You're looking for him. I know because I was once looking for the same thing. And when he found me, he told me I wasn't really looking for him. I was looking for an answer. It's the question that drives us, {{getName()}}. It's the question that brought you here. You know the question, just as I did.</p>
      <p>{{getName()}}: What is the Matrix? </p>
      <p>Trinity: The answer is out there, {{getName()}}, and it's looking for you, and it will find you if you want it to.</p>
      <p>{{ something}} >< {{ getSomething()}}</p>
    </div>


    <script type='text/javascript' language='JavaScript'>
          var kotekstApp = angular.module('kontekst', []); //nie wstrzykujemy żadnych zależności - nie potrzeba!

                  function firstOne($scope) { //w ten sposób też można zdefiniować kontroler, dla prostszych przypadków
                    $scope.name = "Joe";
                  }
          ;

          function secondOne($scope) {
            $scope.name = 'Neo';

            $scope.getName = function () {
              return $scope.name;
            }

            var something = 'Quote from "The Matrix"';

            $scope.getSomething = function () {
              return something;
            }
          }
          ;

          /*
           * Zwróćcie uwagę na zasięg zmiennych - mimo, iz w obu miejscach nazywają się tak samo,
           * to definiujemy je jako elementy innego kontekstu.
           * 
           * W kontekście możemy również definiować funkcje, które potem zastosujemy w szablonach.
           */
    </script>
  </body>
</html>
