div {
  padding: 50px;
  margin: 50px 150px;
  border: 1px solid silver;
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

div * { 
  opacity: 0.8;
}

div.hey {
  background-image: url(../common/Hendrix.jpg);
}

div.matrix {
  background-image: url(../common/Trinity.jpg);
  color: white;
  background-color: black;
  font-weight: bold;
}