<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="rest/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  </head>

  <body ng-app='dyrektywy' ng-controller='mainController'>
    <h1>Team members</h1>
  <personalinfo ng-style="getStyles(member)" ng-repeat="member in ['Konrad', 'Łukasz', 'Magdalena', 'Ula', 'Hans']" name="member"></personalinfo>

  <!-- Ciekawa dyrektywa do szablonów, która pozwala dynamicznie modyfikować arkusz styli w miłej formie!-->

  <script type='text/javascript' language='JavaScript'>
            var dyrektywyApp = angular.module('dyrektywy', [])

                    .controller('mainController', ['$scope', function ($scope) {

                        /*
                         * Zwróćcie uwagę, w jakim kontekście jest dostępna ta funkcja w kodzie HTML/szablonu!
                         */
                        $scope.getStyles = function (forWho) {
                          return {'background-image': 'url(../common/' + forWho + '.jpg)'};
                        }

                      }])

                    .directive('personalinfo', function ($http) {
                      return {
                        templateUrl: 'rest/personalInfo.html',
                        restrict: 'E',
                        scope: {
                          name: '='
                        },
                        controller: function ($scope) {
                          $http.get('rest/getperson.php?name=' + $scope.name) //szybkie zapytanie, są inne metody
                                  .success(function (data) {
                                    for (index in data) {
                                      $scope[index] = data[index];
                                    }
                                  }); //są dostępne inne rzeczy, jak np. error
                        }
                      };
                      ;
                    });
  </script>
</body>
</html>
