<table>
  <tr>
    <td>Name</td><td>{{name}}</td>
  </tr><tr>
    <td>Surname</td><td>{{familyname}}</td>
  </tr><tr>
    <td>Role</td><td>{{role}}</td>
  </tr><tr>
    <td>Salary (annum)</td><td>{{salary}}</td>
  </tr>
</table>