personalinfo {
  display: block;
  margin: 20px 200px;
  padding: 20px;
  float: none;
  border: 1px solid silver;

  background-size: auto 90%;
  background-position: 99% center;
  background-repeat: no-repeat;
}

body, h1 {
  text-align: center;
}